body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Alliance No.1', sans-serif;
  overscroll-behavior: none;
}

code {
  font-family: 'Alliance No.1', sans-serif;
}
